<!DOCTYPE html>
<html lang="pt-br">
<title>COVID-19 Triagem por Hemograma</title>
<body>

<form action = "/getdelay" method="POST">
<p> Idade (anos):<input name="age" type ="text" placeholder="30" /> </p>
<p> Leucócitos (/&micro;L): <input name="leukocytes" type ="text" placeholder="6000" /> </p>
<p> Monócitos (/&micro;L): <input name="monocytes" type ="text" placeholder="500" /> </p>
<p> Plaquetas (/&micro;L): <input name="platelets" type ="text" placeholder="300000" /> </p>
<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
