<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

        <title>Informações sobre o teste online e a empresa</title>

        <meta name="description" content="Triagem de suspeitos de COVID-19 apartir de hemograma.">
        <meta name="subject" content="Teste online grátis criado com Inteligêcia Artificial apartir de dados do Hospital Albert Einstein.">
        <meta name="author" content="Adapt Health">

        <!-- ==============================================
        Favicons
        =============================================== -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/slider.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/icons.min.css">
        <link rel="stylesheet" href="assets/css/gallery.min.css">
        <link rel="stylesheet" href="assets/css/animation.min.css">

        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/custom.css">
        
    </head>

    <body>

        <!-- Header -->
        <header>

            <!-- Navbar -->
            <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
                <div class="container">

                    <!-- Navbar Brand-->
                    <a class="navbar-brand">
                        Adapt<i>.Health</i>
                        <!-- 
                            Custom Logo
                            <img src="assets/images/logo.svg" alt="Leverage">
                        -->
                    </a>

                    <!-- Navbar Itens-->
                    <ul class="navbar-nav items ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link bright">Triagem</a>
                        </li>
                        <li class="nav-item">
                            <a href="/sobre" class="nav-link bright">Sobre</a>
                        </li>
                    </ul>

                </div>
            </nav>

        </header>

        <!-- Single -->
        <section id="intro" class="single bg-white-color">
            <div class="container fluid">
                <div class="row">

                <main class="default col-12 col-lg-8">

                    <div class="row layout-title-default">
                        <div class="col-12 align-self-center">
                            <h2 class="featured">Como funciona?</h2>
                            <p>A pandemia de COVID-19 está sobrecarregando os sistemas de saúde no mundo.
                                Da mesma forma, no Brasil há previsão de milhões de suspeitos de contaminação procurando assistência hospitalar ao longo dos próximos meses.</p>
                            <p>Seguindo o padrão observado nos outros países, as emergências dos hospitais brasileiros sofrerão um pico de atendimento além da capacidade. Essa limitação é associado ao elevado custo e tempo do kit de teste SARS-CoV-2 RT-PCR.</p>
                            <p>Com o intuito de contornar esse desafio, a Adapt desenvolveu um teste utilizando informações de hemograma para descobrir quais suspeitos estão seguramente fora de risco de contaminação de COVID-19.</p>
                            <p><blockquote>A Adapt oferece grátis essa ferramenta de triagem de suspeitos de COVID-19 para todos os hospitais do Brasil.</blockquote></p>
                            <p>Portanto, essa ferramenta é recomendada para ser usada no processo de triagem dos hospitais como uma etapa anterior ao possível uso do kit SARS-CoV-2 RT-PCR.</p>
                            <br>
                            <p>Estamos à disposição para personalizar a presente ferramenta de triagem de COVID-19. Basta entrar em contato conosco pelos canais informados abaixo.</p>

                        </div>
                    </div>
        
                </main>

                <aside class="default col-12 col-lg-4 pl-lg-5 float-right">
                    
                    <div class="row layout-title-default">
                        <div class="col-12 align-self-center text-left">
                            <h4 class="grey-color">Características</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-center align-items-center">
                                    <i class="fa fa-project-diagram primary-color" style="margin:30px; font-size:36px"></i>
                                    Triagem de COVID-19 por hemograma.
                                </li>
                                <li class="list-group-item d-flex justify-content-center align-items-center">
                                    <i class="fa fa-user-md primary-color" style="margin:30px; font-size:36px"></i>
                                     Parceria com Hospital Albert Einstein.
                                </li>
                                <li class="list-group-item d-flex justify-content-center align-items-center">
                                    <i class="fa fa-robot primary-color" style="margin:30px; font-size:36px"></i>
                                    Modelo matemático criado com Inteligência Artificial.
                                </li>
                                <li class="list-group-item d-flex justify-content-center align-items-center">
                                    <i class="fas fa-heart primary-color" style="margin:30px; font-size:36px"></i>
                                    Salva vidas e economiza custos.
                                </li>
                            </ul>
                        </div>
                    </div>

                </aside>

                </div>
            </div>
        </section>
        
        <!-- Footer -->
        <footer>

            <!-- Links -->
            <section id="links" class="links bg-dark-grey-color grey-color-2">
                <div class="container fluid">
                    <div class="row">
                        <div class="col-12 col-lg-3 p-3 text-center text-lg-left">
                            <div class="navbar-brand mb-4 p-0">
                                <a href="index-1.html" class="bright-static white-color">
                                    Adapt                                    
                                    <!-- 
                                        Custom Logo
                                        <img src="assets/images/logo.svg" alt="Leverage">
                                    -->
                                </a>
                            </div>
                            <br>
                            <p>Soluções inovadoras com Inteligência Artificial para a indústria da saúde.</p>
                        </div>
                        <div class="col-12 col-lg-2 p-3 text-center">
                        </div>
                        <div class="col-12 col-lg-7 p-3 text-left">
                            <ul class="contacts navbar-nav">
                                <li class="nav-item" style="margin:auto ">
                                    <a class="nav-link">
                                        <i class="icon-phone mr-2"></i>
                                        +55 12 98125-3572
                                    </a>
                                </li>
                                <li class="nav-item" style="margin:auto">
                                    <a class="nav-link">
                                        <i class="icon-envelope mr-2"></i>
                                        adapt.health.ai@gmail.com
                                    </a>
                                </li>
                                <li class="nav-item" style="margin:auto">
                                    <a class="nav-link">
                                        <i class="icon-location-pin mr-2"></i>
                                        São José dos Campos, SP
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-3 p-3 text-center text-lg-left">
                        </div>
                    </div>
                </div>
            </section>

        </footer>

        

        <!-- Modal [responsive menu] -->
        <div id="menu" class="modal fade p-0" role="dialog" aria-labelledby="menu" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-white-color" data-dismiss="modal">
                        Menu Options <i class="icon-close icon-close"></i>
                    </div>
                    <div class="menu modal-body container bg-white-color">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                            <div class="contacts p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#">
                <i class="icon-arrow-up bg-white-color primary-color"></i>
            </a>
        </div>

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/slider.min.js"></script>
        <script src="assets/js/gallery.min.js"></script>
        <script src="assets/js/animation.min.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>